*{
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}


html{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 300;
	background-color: #2f3640;
	color: #dcdde1;
	text-rendering: optimizeLegibility;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

section:focus,
header:focus{
	outline: none;
}


/*----------Resusable---------*/

html:focus{outline: none;}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn:link,
.btn:visited,
input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background 0.2s, color 0.2s, border 0.1s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
	border: 1px solid #00669D;
	background: #0097e6;
	color: #dcdde1;
}

.btn-full:active,
.btn-full:hover,
input[type=submit]:active,
input[type=submit]:hover{
	border: 1px solid #00669D;
	background: #00669D;
}

.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid #0097e6;
	color: #0097e6;
}

.btn-ghost:active,
.btn-ghost:hover{
	border: 1px solid #00669D;
	background: #00669D;
	color: #dcdde1;
}

.icon-large{
	font-size: 600%;
}

section{
	height: 100vh;
	text-align: center;
}

h1{
	margin: 0px;
	font-size: 240%;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}

h2{
	margin-top: 0px;
	font-size: 180%;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 3px;
	text-align: center;
	margin-bottom: 30px;
}

h2::after{
	display: block;
	height: 2px;
	background-color: #0097e6;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

h3{
	margin: 10px 0;
	font-size: 140%;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 3px;
}

/*----------Header---------*/

header{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(../Resources/Header.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.hero-text-box{
	position: absolute;
	width: 1140px;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%); 
}


/*----------Nav---------*/

.logo{
	height: 100px;
	width: auto;
	padding: 10px 0 0 0;
	margin: 0px;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 20px;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px; 
	margin-top: 20px;
	font-size: 104%;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.main-nav li a:link,
.main-nav li a:visited{
	color: #dcdde1;
	text-decoration: none;
	border-bottom: 1px hidden #0097e6;
	padding-bottom: 1px;
	transition: border 0.15s, padding 0.15s, color 0.15s;
}

.main-nav li a:hover,
.main-nav li a:active{
	color: #0097e6;
	text-decoration: none;
	border-bottom: 1px solid #0097e6;
	padding-bottom: 4px;
}

/*----------Skicky Nav---------*/

.sticky{
	position: fixed;
	background-color: #dcdde1;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
	color: #2f3640;
	text-decoration: none;
	border-bottom: 1px hidden #0097e6;
	padding-bottom: 1px;
	transition: border 0.15s, padding 0.15s, color 0.15s;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
	color: #0097e6;
	border-bottom: 1px solid #0097e6;
	padding-bottom: 4px;
}



/*----------Perks---------*/
.Perks h2{
	padding-top: 50px;
}

.feature-top{
	padding: 0;
	margin: 0;
}
.feature{
	padding: 8vh 0;
	text-align: center;
}

.feature .icon{
	color: #0097e6;
}
.feature p{
	margin-top: 10px;
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 4px;
}



/*----------Gallery---------*/

.gallery{
	background-color: #3B424C;
	position: relative;
	text-align: center;
}

.gallery h2{
	padding-top: 5%;
	text-transform: uppercase;
}

 .photos{
	 
	width: 95%;
	 
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cities {
	list-style: none;
	width: 100%;
}

.cities li{
	display: block;
	float: left;
	width: 33.33333%;
}

.city-photo{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
    text-align: center;
	color:rgba(220,221,225,0.00);
	transition: color .7s;
}

.city-photo:hover{
	color:rgba(220,221,225,1);
}

.city-photo h3{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	
}

.city-photo img{
	width: 100%;
	height: auto;
	opacity: 1;
	transform: scale(1.2);
	transition: opacity .7s, transform .4s;
}

.city-photo img:hover{
	opacity: .3;
	transform: scale(1);
}


/*----------Join Us---------*/

.join h2{
	padding-top: 50px;
}

.options
{
	padding-top: 100px;
}

.cta:first-of-type{
	border: 4px solid #0097e6;
}

.cta:first-of-type h2{
	color: #0097e6;
}

.cta{
	padding: 20px;
	border-radius: 20px;
	border: 2px solid #0097e6;
	opacity: 0;
}

.cta ul{
	list-style: none;
	padding: 10px 0 15px 0;
}

.cta ul li{
	margin: 5px 0;
	font-size: 130%;
	font-weight: 300;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 3px;
	
}

.cta a{
	
	margin: 0;
	padding: 0;
}

.cta-2{
	-webkit-animation-delay: 1s;
}
.cta-3{
	-webkit-animation-delay: 2s;
}

/*----------Contact Us---------*/

.contact{
	background-color: #3B424C;
	text-align: left;
	height: auto;
}

.contact h2{
	padding-top: 50px;
}

.contact-form{
	width: 70%;
	margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select{
	width:100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #CCC;
}

/*----------Footer---------*/




.footer-nav{
	list-style: none;
	text-align: center;
	height: 50px;
	margin-top: 12px;
}

.footer-nav li{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 90%;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.footer-nav li a:link,
.footer-nav li a:visited{
	color: #dcdde1;
	text-decoration: none;
	border-bottom: 1px hidden #0097e6;
	padding-bottom: 1px;
	transition: border 0.15s, padding 0.15s, color 0.15s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
	color: #0097e6;
	text-decoration: none;
	border-bottom: 1px solid #0097e6;
	padding-bottom: 4px;
}






